.body {
  background-color: black;
  color: black;
  font-family: "Courier New", Courier, monospace;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    opacity: 0.5;
}

.sidebar,
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    min-height: 500px;
    border-radius: 10px;
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    border:1px solid #6fff00;
}

.sidebar {
    flex-grow: 0;
    max-width: 10;
}

.content {
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    max-width: 2000px;
}
.button {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: "Courier New", Courier, monospace;
  text-shadow: 1px 1px 1px rgb(1, 46, 8);
  background-color: #6fff00;
  padding: 10px 20px;
  text-align: center;
  color: rgb(0, 92, 2);
  text-decoration: greenyellow;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}